.card>ul
{
    list-style: none;
    padding-top:40px;
    padding-right: 40px;
}

.btn-top
{
    margin-top: 10px;
}

.js-activeButtonDelete, .js-quantityIsActive, .js-activeButtonValid
{
    display:none;
}

.removeArticle
{
    margin-right: auto;
    margin-left: auto;
}
h2{
    display:flex;
    margin-left: auto;
    margin-right: auto;
}
label
{
    font-weight:bold;
    margin-right: 5px;
}

.js-submitForm, .js-resetForm
{
    margin-top:20px;
}

.js-backHome
{
    margin-bottom:30px;
}