.card>ul
{
    list-style: none;
    padding-top:40px;
    padding-right: 40px;
}

.btn-top
{
    margin-top: 10px;
}

.js-activeButtonDelete, .js-quantityIsActive, .js-activeButtonValid
{
    display:none;
}